div{
    height: 112px;
    width: 50%;
    background-color: coral;
    border: 1px solid black;
    margin-left: 204px;
    padding: 50px;
}
.foot{
    margin-top: 386px;
}
/* .head{
    margin-left: 100px;
} */